/*********** Universal *************/

/************* Header ***************/

#header {
  position: relative;
}

.header-img img {
  width: 100%;
  object-fit: cover;
}

.header-input {
  display: flex;
  justify-content: center;
}

#input-search {
  position: absolute;
  bottom: 0;
  width: 13rem;
  padding: .30rem .70rem;
  border-radius: .2rem;
  margin-bottom: .5rem;
  border: 0;
}

input:focus {
  outline: 0 none;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-title {
  position: absolute;
  top: 0%;
  width: 9rem;
}