/*********** Universal *************/
* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: #05292E;
  color: white;
}

.font-size-small {
  font-size: 13px;
}

.font-size-md {
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

input:focus {
  outline: 0 none;
}

.padding-primary {
  padding: .5rem 0rem;
}

.margin-top-primary {
  margin-top: .8rem;
}

.color-gray {
  color: #535C5E;
}

.background-primary {
  background: #05292E;
}

.background-secundary {
  background-color: #062226;
}

.font-weight-none {
  font-weight: 400;
}
/************* Header ***************/

#header {
  position: relative;
}

.header-img img {
  width: 100%;
  object-fit: cover;
}

.header-input {
  display: flex;
  justify-content: center;
}

#input-search {
  position: absolute;
  bottom: 0;
  width: 13rem;
  padding: .30rem .70rem;
  border-radius: .2rem;
  margin-bottom: .7rem;
  border: 0;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-title {
  position: absolute;
  top: 0%;
  max-width: 50%;
}

/*********** Data **************/

.data {
  width: 8rem;
  padding: 0rem .5rem;
}

.data-flex {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/************* Card ***********/

.component-card {
  margin-top: 2rem;
}

.card-flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  width: 15rem;
  margin: auto;
}

.card-img {
  position: relative;
  width: 100%;
}

.card-img img {
  width: 100%;
}

.name {
  border-bottom: 1px solid #05292E;
  padding-bottom: .5rem;
}

.card-status-flex {
  display: flex;
  gap: .6rem;
  position: absolute;
  top: 0;
  margin-top: 1rem;
  align-items: center;
  padding: .2rem;
  width: 9rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card-status-flex div {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  background: brown
}

.card-info {
  padding: 1rem;
}
/************** Media query ***************/

@media(min-width: 768px) {
  /*************** Header ***************/

  #input-search {
    width: 30rem;
    padding: .8rem;
  }

  .header-img img {
    height: 15rem;
  }

  /**************** Data *****************/

  .data {
    padding: .5rem 1.5rem;
  }

  /************** Card ******************/

  .component-card {
    width: 90%;
    margin: 2rem auto;
  }

  .card {
    width: 20rem;
  }

  .card-flex {
    flex-direction: unset;
    gap: 1;
    flex-wrap: wrap;
  }
}